@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1BB96B;
  --color-primary-accent: #148F53;
  --color-secondary: #B91B5D;
  --color-secondary-accent: #8B1546;
  --color-text: #ffffff;
  --color-background: #07001A;
  --color-muted: #808792;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-open-sans), Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), Arial, sans-serif;
  }
}

.ant-modal-content {
  border: 1px solid gray !important;
  background-color: #060019 !important;

  .ant-modal-close-x {
    color: white !important;
  }

  .ant-modal-header {
    background-color: #060019 !important;

    .ant-modal-title {
      color: white !important;
      font-size: 20px !important;
    }
  }
}

.ant-pagination {
  display: flex;
  align-items: center;;
}
.ant-pagination-item-link {
  color: white !important;
}
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  color: #313D4A !important;
}
.ant-pagination-simple-pager {
  color: white;
  background-color: transparent;
}
.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input {
  background-color: white;
  color: black;
  border: none;
}
.ant-pagination-total-text {
  color: white;
}
.ant-pagination-options {
  display: block !important;
}

.ant-select-selector {
  background-color: #2a253a !important;
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-dropdown {
  background-color: #2a253a !important;
  color: white !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-active {
  color: white !important;
  background-color: #07001a !important;
}

.ant-select-item-option-selected {
  color: white !important;
  background-color: #07001a !important;
}

.bet-info-section {
  .ant-table-wrapper {
    width: 100%;
  }
  .ant-table-tbody {
    .ant-table-cell {
      background-color: #0d3832;
      color: lightgray;
      border: none;
      font-size: 15px;
    }
    .ant-table-cell-row-hover {
      background-color: #0d3832 !important;
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      background-color: #148F53;
      color: white;
      border: none;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.ant-drawer {
  .ant-drawer-body {
    padding: 0 !important;
    display: flex;
    align-items: center;
    background-color: #0d3832 !important;
  }
  .ant-drawer-header {
    border-top: 1px solid white;
    background-color: #060019;
    color: white;
  }

  .ant-drawer-close {
    color: white !important;
  }
}